# OS
.DS_Store
Thumbs.db
desktop.ini
 
# Editor
.vscode/
.idea/
*.swp
*.swo
 
# Node (если будешь использовать Capacitor)
node_modules/
npm-debug.log*
package-lock.json
 
# Capacitor / Android
android/
ios/
dist/
www/
 
# Misc
*.log
.env
 
